{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search API</title>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    
  </head>
  <body>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Search API</h1>
      <p class="lead text-muted">Get the top nine results on API for your query!</p>
      <form method="POST">
      <div class="input-group mb-3">
          {% csrf_token %}
          <input type="text" name="search" class="form-control" aria-label="Username">
      </div>
      <p>
        <button type="submit" name="submit" value="search" class="btn btn-primary my-2">API Search</button>

      </p>
      </form>
    </div>
  </section>

  <div>
  {%if not clinical_data.empty%}
    <div class="container">
      <div class="row">
      
        <div >
          <div >

              <p> {{clinical_data |safe}} </p>

          </div>
        </div>
  
      </div>
    </div>
  {%endif%}
  </div>

</main>
</body>
</html>