{% load static %}
<!DOCTYPE html>

<html lang="en">
	<head>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"   >
	<link rel ="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  <link rel ="stylesheet" type="text/css" href="{% static 'css/skel.css' %}"/>
  <link rel ="stylesheet" type="text/css" href="{% static 'css/style-xlarge.css' %}"/>
  <script src="{% static 'css/jquery.min.js' %}"></script>
    <script src="{% static 'css/skel.min.js' %}"></script>
  <script src="{% static 'css/skel-layers.min.js' %}"></script>
   <script src="{% static 'css/init.js' %}"></script>


	</head>
	<body>

		<!-- Header -->
			<header id="header">

				<div id="logo"><img src="{% static "images/logo.png"%}" align="middle" width="300" height="150"  /></div>
				<nav id="nav">
					<ul>
						<li><a href="{% url 'blog-home' %}">Home</a></li>
						<li><a href="{% url 'blog-about' %}">About</a></li>

						<li> <a href="{% url 'index' %}" <i class="fa fa-search" aria-hidden="true"></i>API search</a></li>
					
						{% if user.is_authenticated %}
						<li><a class="button special" href="{% url 'logout' %}">Logout</a></li> {% else %}
                      <li> <a class="button special" href="{% url 'login' %}">Login</a></li>
                        <li><a class="button special" href="{% url 'register' %}">Register</a> {% endif %}</li>
					</ul>
				</nav>
			</header>

			

		<!-- Main -->
			 <section id="main" class="wrapper">
				<div class="container">
				<div style="text-align:center">
				<header class="major">
				<h2>We Save Time by Supercharging Medical R&D</h2>
				</div>

				
				
				<div class="cont-contactBtn">
					<div class="cont-flip">
						<div class="front">
							<h2>Send Message</h2></br>

							
						</div>

						<div class="back">
						<fieldset>
							<a href="#" class="flip close"></a>
							<form class="contact-form" method="POST">
								{% csrf_token %}
								<input class="gutter" name="name" pattern="[A-Za-z]{1,50}" type="text" size="50" placeholder="Name" required></br>
								<input type="text" name="company" placeholder="Company" required></br>
								<input class="gutter" name="telephone"  pattern="[+ 0-9]{10}" type="text" placeholder="Telephone" required></br>
								<input type="email" name="email"  "[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" placeholder="Email" required></br>
								<textarea name="message" id="" placeholder="Leave a message" required></textarea></br>
								<input type="submit" value="Send">
								</fieldset>
							</form>
							<h4 style="color:green; font-size: 21px;">{{message}}</h4>
						</div>
					</div>
				</header>
				</section>
	    
				
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<section class="links">
						<div class="row">
							
							<section class=" 12u$(small)">
						        <h3>Contact US</h3></br>
								<ul class="unstyled">
								<p>Owner: Willian Korim</p>
									<li><a href="#">Mail Us At : willian.korim@unimelb.edu.au</a></li>
									
								</ul>
							</section>
							
							<section class=" 12u$(small)">
								<h3>Support</h3></br>
								<ul class="unstyled">
									<li><a href="#">Help Center</a></li>
									<li><a href="#">For group leaders</a></li>
									<li><a href="#">For IT & services</a></li>
									<li><a href="#">For lab managers</a></li>
									<li><a href="#">For industry scientists</a></li>
								</ul>
							</section>
						</div>
					</section>
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved.</li>

							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
								</li>
							</ul>
						</div>
					</div>
			</footer>

    
						

	</body>
</html>