body,p,div,input,textarea,a{
	
	font-family: 'Open Sans', sans-serif;
  }
  h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
  }



body {
    padding-top: 4.5rem;
}

.alert-pre {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}